* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header__logo {
  background-color: black;
  padding-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header__logo img {
  padding: 30px;
}

.header .header__logo__icons {
  padding: 30px;
}

.header .header__contenedor .bloque__listas .listas__nav {
  text-align: center;
  list-style: none;
}

.header .header__contenedor .bloque__listas .listas__nav li {
  display: inline;
  padding-bottom: 10px;
  padding: 15px;
}

.header .header__contenedor .bloque__listas .listas__nav li a {
  text-decoration: none;
  font-size: 30px;
}

.bloque__listas .listas__nav li a:hover {
  color: white;
  font-weight: 700;
}

.principal__img .contenedor__portada img {
  width: 100%;
  height: auto;
}

.principal__img .contenedor__portada .text__portada {
  color: black;
  text-align: left;
  padding-top: 15px;
}

.principal__img .contenedor__portada .text__portada p {
  font-size: 25px;
}

.principal__img .contenedor__portada .text__portada a {
  text-decoration: none;
}

.principal__img .contenedor__portada .text__portada span {
  background-color: black;
  color: white;
  font-size: 25px;
}

.contenedor__card {
  background-color: black;
  padding: 15px;
}

.contenedor__card .card {
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(gray), to(blue));
  background-image: linear-gradient(white, gray, blue);
}

.contenedor__iconos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto;
}

.contenedor__iconos div {
  text-align: center;
  text-decoration: none;
  color: white;
}

.contenedor__iconos div ul {
  list-style: none;
}

.footer__ind {
  color: white;
  background-color: black;
  height: 150px;
  margin-bottom: 0;
  padding: 10px;
}

.footer__ind a {
  padding: 12px;
}

/*Nosotros*/
.contenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contenedor .contenedor__img .contenedor__titulo h2 {
  text-shadow: 3px 3px 3px blue;
}

.contenedor .contenedor__palabra {
  padding: 15px 50px 50px 50px;
}

/*Contactos*/
@media (min-width: 769px) {
  .texto-titulo-h2 {
    text-align: center;
    padding: 15px;
  }
  .box__contacto {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(gray), to(blue));
    background-image: linear-gradient(white, gray, blue);
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }
  .box__contacto .contenedor__contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box__contacto .contenedor__contacto .box__formu {
    border: inset;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
            box-shadow: 5px 5px 15px 5px blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 550px;
    padding: 10px;
  }
  .box__contacto .contenedor__contacto .box__formu legend {
    text-align: center;
  }
  .box__contacto .contenedor__contacto .box__formu form {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box__contacto .contenedor__contacto .box__formu form input {
    width: 300px;
    height: 50px;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  .box__contacto .contenedor__contacto .box__formu form input:focus {
    background-color: #9cc9f7;
    width: 100%;
    height: 15%;
    font-size: 25px;
  }
  .box__contacto .contenedor__contacto .box__formu form input::-webkit-input-placeholder {
    color: blue;
  }
  .box__contacto .contenedor__contacto .box__formu form input:-ms-input-placeholder {
    color: blue;
  }
  .box__contacto .contenedor__contacto .box__formu form input::-ms-input-placeholder {
    color: blue;
  }
  .box__contacto .contenedor__contacto .box__formu form input::placeholder {
    color: blue;
  }
  .box__contacto .box__direccion {
    border: inset;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
            box-shadow: 5px 5px 15px 5px blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 500px;
    margin: 30px;
  }
  .box__contacto .box__direccion strong {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 15px;
  }
  .box__contacto .box__direccion .datos {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .contenedor__iconos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .box__contacto {
    background-image: -webkit-gradient(linear, left top, left bottom, from(white), color-stop(gray), to(blue));
    background-image: linear-gradient(white, gray, blue);
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 10px;
  }
  .box__contacto .contenedor__contacto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .box__contacto .contenedor__contacto .box__formu {
    border: inset;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
            box-shadow: 5px 5px 15px 5px blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    padding: 10px;
  }
  .box__contacto .contenedor__contacto .box__formu legend {
    text-align: center;
  }
  .box__contacto .contenedor__contacto .box__formu form {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .box__contacto .box__direccion {
    border: inset;
    border-radius: 6px;
    -webkit-box-shadow: 5px 5px 15px 5px blue;
            box-shadow: 5px 5px 15px 5px blue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: auto;
    margin: 30px;
  }
  .box__contacto .box__direccion strong {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding: 15px;
  }
  .box__contacto .box__direccion .datos {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-left: 20px;
  }
}

/* mobile */
@media (max-width: 768px) {
  .contenedor__img .contenedor__titulo {
    text-shadow: 3px 3px 3px blue;
  }
  .titulo__primero article {
    text-shadow: 3px 3px 3px blue;
    background-color: lightgrey;
  }
  .servicios {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 3px 3px 3px blue;
  }
  .servicios .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .servicios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .servicios__contenedor img {
    width: 100%;
  }
  .servicios__contenedor .servicios__texto {
    border: inset;
    width: 100%;
    height: 100%;
  }
  .contenedor__bis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
  .contenedor__bis img {
    width: 100%;
  }
  .contenedor__bis .servicios__texto {
    border: inset;
  }
}

/* responsive mas 768 */
@media (min-width: 768px) {
  .contenedor__img .contenedor__titulo {
    text-shadow: 3px 3px 3px blue;
  }
  .titulo__primero article {
    text-shadow: 3px 3px 3px blue;
  }
  .servicios {
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-shadow: 3px 3px 3px blue;
  }
  .servicios .item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .servicios__contenedor {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .servicios__contenedor .servicios__texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: inset;
  }
  .servicios__contenedor .servicios__texto h2 {
    padding: 10px;
  }
  .servicios__contenedor .servicios__texto p {
    padding: 10px;
  }
  .contenedor__bis {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .contenedor__bis .servicios__texto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: inset;
    width: 600px;
    height: auto;
  }
  .contenedor__bis .servicios__texto h2 {
    padding: 10px;
  }
  .contenedor__bis .servicios__texto p {
    padding: 10px;
  }
}

.galeria-grid {
  background-color: aquamarine;
}

/* hasta aca  */
.botton--ligth {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  border-radius: 1px solid black;
  background-color: white;
}

.colores-muestra {
  color: blue;
}
/*# sourceMappingURL=style.css.map */